name: PR Tests

on: pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    name: lint
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v3
      with:
        node-version: '20.x'
    - run: npm ci
    - run: npm run build --if-present
    - run: npm run lint

  build:
    name: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, build, and test
      run: |
        npm ci
        npm run build --if-present
        npm test
        npm run test-cli
      env:
        CI: true
