name: Publish Package to npmjs
on:
  release:
    types: [published]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: npm ci
      - run: npm test

  publish:
    needs: build
    environment: npm-release
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          registry-url: https://registry.npmjs.org
      - run: git config user.name ${{ github.actor }}
      - run: git config user.email ${{ github.actor }}@users.noreply.github.com
      - run: git fetch origin ${{ github.event.release.target_commitish }}:${{ github.event.release.target_commitish }}
      - run: git checkout ${{ github.event.release.target_commitish }}
      - run: git tag -d ${{ github.event.release.tag_name }}
      - run: npm ci
      - run: npm version ${{ github.event.release.tag_name }}
      - run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
