name: Publish Package to npmjs
on:
  release:
    types: [published]

permissions:
  id-token: write # Required for OIDC
  contents: read # Required for actions/checkout

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
          registry-url: https://registry.npmjs.org
      - run: |
        git config user.name ${{ github.actor }}
        git config user.email ${{ github.actor }}@users.noreply.github.com
        git fetch origin ${{ github.event.release.target_commitish }}:${{ github.event.release.target_commitish }}
        git checkout ${{ github.event.release.target_commitish }}
        git tag -d ${{ github.event.release.tag_name }}
        npm install
        npm run build --if-present
        npm test
        npm version ${{ github.event.release.tag_name }}
        npm publish --access public
