name: Publish Package to npmjs
on:
  release:
    types: [published]

permissions:
  id-token: write # Required for OIDC
  contents: read # Required for actions/checkout

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
          registry-url: https://registry.npmjs.org
      - run: git config user.name ${{ github.actor }}
      - run: git config user.email ${{ github.actor }}@users.noreply.github.com
      - run: git fetch origin ${{ github.event.release.target_commitish }}:${{ github.event.release.target_commitish }}
      - run: git checkout ${{ github.event.release.target_commitish }}
      - run: git tag -d ${{ github.event.release.tag_name }}
      - run: npm install
      - run: npm run build --if-present
      - run: npm test
      - run: npm version ${{ github.event.release.tag_name }}
      - run: npm publish --access public
